body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Times New Roman", Times, serif, sans-serif;
    background-color: rgba(104, 175, 192, 0.493);
}
.container{
    width: 100%;
    clear: both;
}
header{
    background-color: rgb(194, 148, 148);
    color: rgb(255, 245, 155);
    height: 100px;
}
header #image{
    float: left;
    margin-right: 12px;
}
header span{
    font-size: 40px;
    font-style: italic;
    width: 100%;
}
#menu{
    width: 960px;
    padding: 0;
    text-align: center;
    margin: auto;
    display: block;
    font-size: 30px;
    font-variant: small-caps;
    background-color: rgba(137, 168, 111, 0.822);
}
#menu li{
    list-style-type: none;
}
#menu li a{
    color: cornsilk;
    display: block;
    padding: 5px 77px;
}
#Form{
    flex: 1;
    order: 1;
}
table{
    border-collapse: separate;
}
#Table{
    flex: 1;
    order:2;   
}
table tr,th{
    border: 3px solid rgb(244, 96, 237);
    padding: 30px;
}
table tr:nth-child(odd){/*Четные строки*/
    color: green;
    background-color: yellow;
}

table tr:nth-child(even){/*Нечетные строки*/
    color: yellow;
    background-color: green;
}
footer{
    width: 100%;
    margin: 0%;
    background-color: rgb(175, 179, 140);
    color: rgb(71, 50, 148);
    font-size: 18px;
    margin:0 auto;
    order:3;
}
@media (min-device-width: 480px){
     .container{
        width: 960px;
        margin: 0 auto;
    }
    #menu li{
        display: inline-block;
    }
    #Table{
        order: 1;
    }
    #Form{
        order: 2;
    }
}
